[submodule "RNASeq"]
	path = RNASeq
	url = https://github.com/bioinformatics-core-shared-training/RNAseq-R
[submodule "SingleCell"]
	path = SingleCell
	url = https://github.com/hemberg-lab/scRNA.seq.course/tree/master
